.qui-page {
	width: 100%;
}
.qui-header {
	width: 640px;
	height: 80px;
	overflow: hidden;
	background-color: yellow;
}
.plcRouteList li {
	padding: 15px 5px 15px 0;
	border-top: 1px solid #e6e8ea;
}
.qui-footerBasic {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	font-size: 10px;
	line-height: 20px;
}
.qui-footerBasic .switchStyle {
	color: #9ea3ab;
}
.qui-footerBasic {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	font-size: 10px;
	line-height: 20px;
}
.qui-footerBasic .switchStyle span {
	margin-left: 30px;
}
.qui-footerBasic .switchStyle a {
	color: #444;
	text-decoration: none;
}
.qui-asides {
	position: absolute;
	left: -200px;
	top: 0;
	height: 400px;
	width: 200px;
}
.qui-aside {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	overflow-y: scroll;
	background-color: orangered;
}
.qui-asideNav {
	padding: 80px 10px 10px;
}
.qui-asideNav li {
	border-top: 1px solid #232d34;
	background-color: orange;
}
.qui-asideNav a {
	text-decoration: none;
	display: block;
	padding-left: 15px;
	font-size: 16px;
	line-height: 44px;
	color: #ced1d5;
}
.qui-asideNav a:hover {
	color: white;
	background-color: #2bab79;
}
qui-ai{
	action: "https://daohang.qq.com/"
}











